<h1>Boards list</h1>
<div class="boards_portal">
  <% if @boards.empty? %>
    <p>No boards yet</p>
  <% else %>
    <ul>
      <% @boards.each do |board| %>
        <li>
          <a href="/boards/<%= board[:id] %>" >
            <%= board[:title] %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="footer">
  <input name="Search Message" type="text">
</div>
