<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <div class="flash"><%= @flash %></div>
    <div class="header">
      <% if @session_admin %>
        <div class='admin-logged'>
          Logged as an admin
        </div>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
